@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

/* - Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%) */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-image: radial-gradient(circle,hsl(213, 21%, 44%), hsl(237, 49%, 15%));
}

body{
   background-color: transparent;
   color: white;
   font-family: 'Barlow Semi Condensed', sans-serif;
}

html,body {
    height: 100%;
}

#root{
    height: 100%;
}

.border-custom{
    border: 3px solid rgba(255,255,255, 0.5);
    border-radius: 1em;
}

.scissors-icon{
    position: absolute;
    top: -6%;
    left: 44%;
    width: 11%; 
    height: 23%;
    box-shadow: inset rgb(221 221 222) 0px 8px 0px -1px , rgb(187 128 19) 0px 12px 0px 20px;
    outline: hsl(40, 84%, 53%) solid 22px;
    background-color: rgba(255,255,250);
    border-radius: 50%;
    cursor: pointer;
}
.lizard-icon{
    position: absolute;
    top: 73%;
    left: 33%;
    width: 11%; 
    height: 23%;
    box-shadow: inset rgb(221 221 222) 0px 8px 0px -1px , hsl(261, 60%, 63%) 0px 12px 0px 20px;
    outline:  hsl(261, 73%, 60%) solid 22px;
    background-color: rgba(255,255,250);
    border-radius: 50%;
    cursor: pointer;
}
.rock-icon{
    position: absolute;
    top: 73%;
    left: 58%;
    width: 11%; 
    height: 23%;
    box-shadow: rgb(221 221 222) 0px 8px 0px -1px inset,hsl(349, 47%, 52%) 0px 12px 0px 20px;
    outline: hsl(349, 70%, 56%) solid 22px;
    background-color: rgba(255,255,250);
    border-radius: 50%;
    cursor: pointer;
}
.spock-icon{
    position: absolute;
    top: 23%;
    left: 26%;
    width: 11%; 
    height: 23%;
    box-shadow: rgb(221 221 222) 0px 8px 0px -1px inset, hsl(209, 58%, 53%) 0px 12px 0px 20px;
    outline: hsl(189, 58%, 57%) solid 22px;
    background-color: rgba(255,255,250);
    border-radius: 50%;
    cursor: pointer;
}
.paper-icon{
    position: absolute;
    top: 23%;
    left: 62%;
    width: 11%; 
    height: 23%;
    box-shadow: rgb(221 221 222) 0px 8px 0px -1px inset, hsl(230, 58%, 53%) 0px 12px 0px 20px;
    outline: hsl(230, 89%, 65%) solid 22px;
    background-color: rgba(255,255,250);
    border-radius: 50%;
    cursor: pointer;
}
.size{
    width: 45%;
    height: 60%;
}
.btn-custom{
    width: 100%;
    border: 2px solid rgba(255,255,255, 0.5);
    letter-spacing: 2px;
    font-size: 1.3rem;
}
.spacing{
    letter-spacing: 1px;
}
.pick{
    position: static;
    width: 80%;
    height: 75%;
}
.result{
    font-size: calc(1rem + 3.3vw);
    letter-spacing: 3px;
}
.margin-top-pentagram{
    margin-top: 5rem;
}
.margin-top-challange{
    margin-top: 5rem;
}


@keyframes animation-scale {
    from {transform: scale(1,1);}
    to   {transform: scale(1.05,1.05);}
}

@keyframes animation-pentagram {
    0%   {  opacity: 0; }
    100% {  opacity: 1;}
}

.animation-pentagram{
    opacity: 0;
    animation-duration: 3s;
    animation-direction: normal;
    animation-name: animation-pentagram;
    animation-fill-mode:forwards;
}

.animation:hover{
    transform: scale(1,1);
    animation-name: animation-scale;
    animation-duration: .40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media (max-width: 575px){
    .size{
        width: 75%;
    }
    .pick{
        width: 80% !important;
        height: 75% !important;
    }
    .paper-icon{
        left: 67%;
        width: 20%;
        height: 28%;
        outline: hsl(230, 89%, 65%) solid 15px;
        box-shadow: inset rgb(221 221 222) 0px 8px 0px -1px, hsl(230, 60%, 53%) 0px 8px 0px 13px;
    }
    .lizard-icon{
        left: 23%;
        width: 20%;
        height: 28%;
        outline: hsl(261, 73%, 60%) solid 15px;
        box-shadow: inset rgb(221 221 222) 0px 8px 0px -1px, hsl(261, 60%, 63%) 0px 8px 0px 13px;
    }
    .rock-icon{
        left: 61%;
        width: 20%;
        height: 28%;
        outline: hsl(349, 70%, 56%) solid 15px;
        box-shadow: inset rgb(221 221 222) 0px 8px 0px -1px, hsl(349, 45%, 52%) 0px 8px 0px 13px;
    }
    .scissors-icon{
        left: 40%;
        width: 20%;
        height: 28%;
        outline:  hsl(40, 84%, 53%) solid 15px;
        box-shadow: inset rgb(221 221 222) 0px 8px 0px -1px, rgb(187 128 19) 0px 8px 0px 13px;
    }
    .spock-icon{
        left: 10%;
        width: 20%;
        height: 28%;
        outline: hsl(189, 58%, 57%) solid 15px;
        box-shadow: inset rgb(221 221 222) 0px 8px 0px -1px, hsl(209, 58%, 53%) 0px 8px 0px 13px;
    }
    .btn-custom{
        margin-top: 5rem;
        margin-right: auto;
        margin-left: auto;
    }

}

@media (orientation: landscape){
    .landscape{
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
}



