@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    min-height: 100%;
    background-image: radial-gradient(circle,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

body{
   background-color: transparent;
   color: white;
   font-family: 'Barlow Semi Condensed', sans-serif;
}

.border-custom{
    border: 2px solid rgba(255,255,255, 0.5);
    border-radius: 1em;
}
